* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style-type: none;
}

p,
li,
a,
button,
span {
    font-size: .8em;
}

.container-big {
    max-width: 60%;
    margin: 0 auto;
}

.container-small {
    max-width: 50%;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    padding: 1rem;
    background-color: white;
    border-bottom: 1px dashed black;
}

header nav ul {
    margin: 0 1em;
}

header nav ul li {
    display: inline-block;
    margin: 0 .5em
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

div.jumbotron-box .jumbotron-info,
section.dropbox-partner div.partner-info {
    width: 40%;
    border-top: 1px dashed white;
}

main section {
    padding-top: 5em;
}

section.subscription-plan div.sub-options,
section.dropbox-business div.dbusiness-features {
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 1rem;
    border: 1px dashed red;
}

div.sub-options article.plan-card,
div.dbusiness-features article.feature-card {
    width: calc((100% / 3) - 1rem);
    margin-bottom: 1rem;
    border: 1px solid black;
}

div.sub-options article.custom-plan {
    flex-grow: 1;
}

div.sub-options article.custom-plan>div {
    align-items: stretch;
}

article.plan-card p.sub-user {
    text-align: center;
}

article.plan-card ul {
    margin: 1em 0;
}




.bg-lightblue {
    background-color: #b4d0e7;
}