* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style-type: none;
}

p,
li,
button,
span {
    font-size: .8rem;
}

button {
    background-color: #0061ff;
    color: white;
    border: none;
    padding: .5em 1em;
    margin-right: 0;
    cursor: pointer;
}

.btn-white {
    background-color: white;
    color: black;
}

main section {
    padding-bottom: 5rem;
}

.container-big {
    max-width: 60%;
    margin: 0 auto;
}

.main-container {
    max-width: 50%;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.clearfix-left {
    content: "";
    display: table;
    clear: left;
}

header nav {
    align-items: center;
    padding: 1rem;
    background-color: white;
}

header .nav-left>a img {
    width: 5.5rem;
    vertical-align: middle;
}

header nav ul {
    margin: 0 1em;
    display: flex;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 .5em
}

header nav ul li a:link,
header nav ul li a:visited,
div.jumbotron-info-content a:link,
div.jumbotron-info-content a:visited {
    text-decoration: none;
    color: black;
}

section.jumbotron {
    padding-bottom: .5rem;
    padding-top: 3rem;
}

section.jumbotron h1 {
    font-size: 3.3rem;
    font-weight: 900;
    margin-bottom: .5em;
}

div.jumbotron-box>img {
    width: 66%;
    float: right;
}

div.jumbotron-box .jumbotron-info {
    width: 32%;
}

div.jumbotron-info div.jumbotron-info-content {
    float: left;
}

div.jumbotron-info-content button {
    margin: 1.5em 0;
    padding: .8em 1.2em;
}

div.jumbotron-info-content p,
div.jumbotron-info-content button {
    font-size: 0.7rem;
}

div.jumbotron-info-content p:last-child {
    font-size: 2rem;
    margin-top: 1rem;
}

section.subscription-plan {
    padding-top: 7rem;
}

section.subscription-plan h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5em;
}

section.subscription-plan label {
    font-size: .8rem;
    vertical-align: text-top;
    margin-right: 2em;
    cursor: pointer;
}

section.subscription-plan div.sub-options,
section.dropbox-business-feature div.dbusiness-features {
    flex-wrap: wrap;
    margin-top: 1rem;
}

div.sub-options article.plan-card,
div.dbusiness-features article.feature-card {
    width: calc((100% / 3) - 1rem);
    margin-top: 2rem;
}

div.sub-options article.plan-card {
    border: 1px solid #e4e4e5;
}

article.plan-card p.sub-user {
    border-bottom: 1px solid #e4e4e5;
    padding: .5rem;
    text-align: center;
}

article.plan-card div.card-content {
    padding: 1rem;
}

article.plan-card p,
article.plan-card ul,
article.plan-card li,
article.plan-card a,
article.plan-card button,
article.feature-card p,
section.dropbox-business a {
    font-size: .7rem;
}

article.plan-card p.sub-cost,
article.plan-card ul.sub-recap {
    font-weight: bold;
}

article.plan-card h3,
article.plan-card p.sub-cost {
    margin-bottom: .5em;
}

article.plan-card ul {
    padding: 2.5em 0;
}

article.plan-card ul li {
    font-weight: normal;
    margin: 1em 0;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

article.plan-card ul li span {
    width: 85%;
    font-size: .6rem;
}

article.plan-card button {
    width: 100%;
    padding: .8em 0;
    margin-bottom: 1rem;
}

article.plan-card button~span {
    font-size: .7rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e4e4e5;
    margin-right: .2rem;
}

article.plan-card ul.sub-recap,
ul.sub-recap li:first-child {
    margin-top: 1.5rem;
}

ul.sub-recap li i {
    color: #0061ff;
}

div.sub-options article.custom-plan {
    flex-grow: 1;
}

article.custom-plan p.sub-cost {
    margin-bottom: 2rem;
}

div.custom-plan-info {
    width: 70%;
}

div.custom-plan-info p {
    font-size: .65rem;
}

article.custom-plan button {
    padding: .8em 1.6em;
}

section.dropbox-partner img {
    width: 60%;
}

section.dropbox-partner div.partner-info {
    width: 35%;
    padding: 2rem 0;
}

div.partner-info p {
    padding: .7rem 0 1.7rem;
}

div.partner-info button.btn-white {
    border: 1px solid black;
}

article.feature-card img {
    width: 100%;
}

article.feature-card h3 {
    margin: .4em 0 1em;
}

section.dropbox-business h2 {
    width: 60%;
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    padding-top: 2rem;
}

article.plan-card a:visited,
section.dropbox-business a:visited {
    color: #0000d7;
}

section.customer-teams {
    background-color: #f5f5f5;
    padding: 0;
}

section.customer-teams div.customer-info {
    width: 40%;
}

section.customer-teams div.customers {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

section.customer-teams div.customer {
    border: 8px solid transparent;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.customer img {
    width: 60%;
    filter: invert(1);
}

section.dropbox-business.bg-lightblue,
section.faq {
    padding-top: 5rem;
}

section.faq h2,
section.faq div.question:last-child {
    padding-bottom: 1em;
    border-bottom: 1px solid #b2b2b2;
}

section.faq div.question {
    padding: 1.5em 0;
    border-bottom: 1px solid black;
    font-weight: bold;
}

footer {
    background-color: black;
    color: white;
}

footer section {
    padding-bottom: 2rem;
}

footer nav ul {
    font-weight: bold;
    padding: 4em 0 6em;
}

footer nav ul li {
    margin-top: 1em;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

footer div.language span {
    padding-top: 2em;
    border-top: 1px solid white;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

#designit {
    border-color: #d1e9cd;
    background-color: #a2d39b;
}

#florida-uni {
    background-color: #0093ce;
}

#arizona-uni {
    background-color: #61082b;
}

#topps {
    background-color: #ff1c1c;
}

#world-bicycle {
    background-color: #d5001f;
}

#lonely-planet {
    background-color: #0d2481;
}

#hearst-corp {
    background-color: #b4d0e7;
}

#clear-channel {
    background-color: #ffd830;
}